*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
label{
    width: 160px;
    height: 80px;
    position: relative;
    cursor: pointer;
}
label input{
    position: relative;
    appearance:none ;
}
label span{
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 40px;
    transition: 0.5s;
    box-shadow: 0px 15px 20px #ff000066;
}
label input:checked ~ span{
    background-color: #09bd0f;
    box-shadow: 0 15px 20px #00ff0066;
}

label span i {
    width: 74px;
    height: 71px;
    position: absolute;
    top: 4px;
    left: 6px;
    background-color:white;
    border-radius: 50px;
    transform: 0.5s;
}

label input:checked ~ span i{
    left: 82px;
}
label span i::before{
    content: '';
    width: 10px;
    height: 12px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: red;
    border-radius: 50px;
    box-shadow: 30px 0 0 red;
    transition: 0.5s;
}
label input:checked ~span i::before{
    box-shadow: 30px 0 0  #09bd0f;
    background-color: #09bd0f;
}
label span i::after{
       content: '';
    width: 25px;
    height: 9px;
    background-color: red;
    position: absolute;
    top: 43px;
    left: 24px;
    transition: 0.5s;
}
label input:checked ~span i::after{

    background-color: #09bd0f;
    position: absolute;
    top: 42px;
    left: 25px;
    border-bottom-left-radius: 20px;
    height: 13px;
    border-bottom-right-radius: 20px
}


